<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://reports.curtmfg.com</SiteUrlToLaunchAfterPublish>
    <publishUrl>216.17.90.82</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <FtpSitePath>/toroot/wwwroot/reporting</FtpSitePath>
    <UserName>alex</UserName>
    <_SavePWD>True</_SavePWD>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <ExcludeApp_Data>False</ExcludeApp_Data>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CurtDevConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=10.10.90.83;Initial Catalog=CurtDev;Persist Security Info=True;User ID=curtDuser2;Password=eC0mm3rc3</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)pcdbConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=10.10.90.83;Initial Catalog=pcdb;Persist Security Info=True;User ID=curtDuser2;Password=eC0mm3rc3</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)qdbConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=10.10.90.83;Initial Catalog=qdb;Persist Security Info=True;User ID=curtDuser2;Password=eC0mm3rc3</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)vcdbConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=10.10.90.83;Initial Catalog=vcdb;Persist Security Info=True;User ID=curtDuser2;Password=eC0mm3rc3</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>